header
{
	background: #2e7bcf;
}

th, td {
    padding-left: 10px;
    text-align: center;

}

table {
	margin-bottom: 30px;
	margin-left:auto; 
    margin-right:auto;
    text-align: center;
}

body {
	margin-bottom: 100px;
}